{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["babel-plugin-styled-components"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
